/*
    Header
*/
$navbar-height: 50px;
$importantFont: ‘Courier New’, Courier, monospace;
.my-navbar {
  height: $navbar-height;
}

.header-my-name {
  margin: 1rem;
  color: #fff;
  float: left;
  font-size: 2rem;
  font-family: $importantFont;

}

.social-nav {
  margin: 1.4rem;
  float: right;
}

.social-nav > li{
  display: inline;
  margin: 1rem;

}

.social-nav > li > a {
  display: inline;
  padding: 10px 15px;
}

.social-nav > li > a > span.social-text {
  padding: 1rem;
  padding-left: 3rem;
}

@media (min-width: 768px) {
  .tiny-social-nav {
      display: none;
  }
}

/*
    Footer
*/
.footer {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: -100px; /* negative value of footer height */
  line-height: 100px;
  background-color: #222;
  color: #fff;
  font-size: 3rem;
  clear:both;
}

/*
    Title
*/
.title-my-picture {
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 30px;
  margin-top: 2rem;
}

/*
    Life
*/
.life-img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  //clip: rect(0px,60px,200px,0px);
}

.life-img + div {
  font-size: 2rem;
  font-weight: bolder;
  font-family: $importantFont;
}

/*
    Misc
*/
.under-header {
  margin-top: $navbar-height;
}
