/*
    Header
*/
$navbar-height: 50px;
$importantFont: ‘Courier New’, Courier, monospace;
$spacexColor: #181c1f;
.my-navbar {
  height: $navbar-height;
  background-color: $spacexColor !important;
  //background-color: rgb(75, 82, 86) !important;

}

.header-my-name {
  margin: 1rem;
  color: #fff;
  float: left;
  font-size: 2rem;
  font-family: $importantFont;

}

.social-nav {
  margin: 1.4rem;
  float: right;
}

.social-nav > li{
  display: inline;
  margin: 1rem;

}

.social-nav > li > a {
  display: inline;
  padding: 10px 15px;
}

.social-nav > li > a > span.social-text {
  padding: 1rem;
  padding-left: 3rem;
}

@media (min-width: 768px) {
  .tiny-social-nav {
      display: none;
  }
}

/*
    Footer
*/
.footer {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: $spacexColor;
  color: #fff;
  font-size: 3rem;
  clear:both;
}

/*
    Title
*/
.title-my-picture {
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 30px;
  margin-top: 2rem;
}

/*
    Life
*/
.about-life {
  background-color: $spacexColor;
  color: #fff;
  height:180px;
}

.life-img {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
  margin: 20px;
  //clip: rect(0px,60px,200px,0px);
}

.important-text {
  font-size: 2rem;
  //font-weight: bolder;
  font-family: $importantFont;
}

/*
    Code
*/
.about-code {
  background-color: #fff;
  color: $spacexColor;
  //height:180px;
}

.code-thumbnail {
  height: 400px;
}

.code-img {
//  object-fit: ;
  height: 250px;
  width:  250px;
}

/*
    Misc
*/
.under-header {
  margin-top: $navbar-height;
}
